.Search {
  margin: 20px;
  width: 300px;
  text-align: center;
}

.FormFields {
  padding: 6px 20px;
  border-radius: 5px;
  margin: 5px;
}
.InputField {
  width: 140px;
  background-color: antiquewhite;
  color: rgb(24, 23, 23);
}

.ButtonField {
  width: 80px;
}

.Results {
  width: 250px;
  text-align: left;
  border-bottom: 1px solid #6e64f8;
}

.Result {
  padding-top: 5px;
}

.Result:hover {
  background-color: lemonchiffon;
  cursor: pointer;
}
