.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f8f9fa;
}

.dni-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
}

.dni-input-container label {
  margin-bottom: 10px;
  font-size: 16px;
}

.dni-input-container input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.dni-input-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.dni-input-container button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid red;
  border-radius: 4px;
  background-color: #f8d7da;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 800px;
}

.contacts-container ul {
  list-style-type: none;
  padding: 0;
}

.contacts-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 700px;
}

.contacts-container li div {
  font-size: 16px;
}

.contacts-container li button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.contacts-container li button:hover {
  background-color: #c82333;
}

.add-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 680px;
  margin: 0 auto;
}

.add-contact-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #343a40;
}

.add-contact-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-contact-container label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #495057;
}

.add-contact-container input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

.add-contact-container button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.add-contact-container button:hover {
  background-color: #218838;
}
