.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  border-top: 1px solid #f0f0f0;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: white;
  }
  a:hover {
    color: #61dafb;
  }
  p {
    margin: 0;
    padding: 0 20px 0 20px;
  }
}
