button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

button.primary {
    background-color: red;
    color: white;
}

button.primary:hover {
    background-color: #310303;
    color: white;
}

button.primary:active {
    background-color: white;
    color: red;
}

button.secondary {
    background-color: blue;
    color: white;
}

button.secondary:hover {
    background-color: #060647;
    color: white;
}

button.secondary:active {
    background-color: white;
    color: blue;
}

