.page-container {
  width: 100%;
  max-width: 800px;
}

.header-container {
  background-color: #ffffff;
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name {
  font-size: 1.2rem;
  color: #333333;
}

.logout-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;

  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #0056b3;
}
