.filterButton {
    border: 1px solid #000000;
    min-width: 100px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 3px 3px 3px rgb(0, 3, 14);
    text-align: center;
}

.header {
    text-align: left;
    padding: 10px;
    margin: 10px;
}