.Header{
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 20px;    
}

.FiltersRow{
    margin: 5px;
}

.Filter{
    border: 1px solid rgb(189, 189, 189);
    margin: 5px;
    padding:5px;
    width: 100px;
    display: inline-block;
    text-align: center;
}

.FilterAll{
    border: 1px solid rgb(0,0,0);
    margin: 5px;
    padding: 5px;
    width: 100px;
    display: inline-block;    
    text-align: center;
}

.Contents{
    background-color: cornsilk;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
}

.Asignatura{
    background-color: ivory;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 20px;
        
}

.Alumnos {
    width: 400px;
    padding: 20px;
    display:table;
}

.Alumno {
    padding: 5px;
    display:table-row;
}

.AlumnoData {
    border: 1px solid rgb(105, 105, 105);
    padding: 5px;
    display:table-cell;
    text-align: center;
}


.Profesor {
    margin: 5px;
    padding: 20px;
    font-weight: bold;
}